@model StudentViewModel
<form method="post" asp-action="AddStudent" asp-controller="ModelBinding">
    <div class="mb-3">
        <label asp-for="Id" class="form-label"></label>
        <input class="form-control" asp-for="Id">
        <span class="form-text text-danger" asp-validation-for="Id"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Name" class="form-label"></label>
        <input class="form-control" asp-for="Name">
        <span class="form-text text-danger" asp-validation-for="Name"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Age" class="form-label"></label>
        <input class="form-control" asp-for="Age">
        <span class="form-text text-danger" asp-validation-for="Age"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Gender" class="form-label"></label>
        <input class="form-control" asp-for="Gender">
        <span class="form-text text-danger" asp-validation-for="Gender"></span>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    <div class="form-text text-danger" asp-validation-summary="All"></div>
</form>


<form method="post" asp-controller="ModelBinding" asp-action="AddStudent">
    <table>
        <tr>
            <td>
                <label asp-for="Id"></label>
                <span asp-validation-for="Id" class="text-danger"></span>
            </td>
            <td>
                <input asp-for="Id" />
            </td>
        </tr>
        <tr>
            <td>
                <label asp-for="Name"></label> <span asp-validation-for="Name" class="text-danger"></span>
            </td>
            <td>
                <input asp-for="Name" />
            </td>
        </tr>
        <tr>
            <td>
                <label asp-for="Age"></label> <span asp-validation-for="Age" class="text-danger"></span>
            </td>
            <td>
                <input asp-for="Age" />
            </td>
        </tr>
        <tr>
            <td>
                <label asp-for="Gender"></label> <span asp-validation-for="Gender" class="text-danger"></span>
            </td>
            <td>
                <input asp-for="Gender" />
            </td>
        </tr>
        <tr>
            <td>
                <div asp-validation-summary="All" class="text-danger"></div>
            </td>
            <td>
                <button type="submit">Submit</button>
            </td>
        </tr>
    </table>
</form>