@model List<StudentViewModel>


@if (Model.Any())
{
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Age</th>
                <th>Gender</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var student in Model)
            {
                <tr>
                    <td>@student.Id</td>
                    <td>@student.Name</td>
                    <td>@student.Age</td>
                    <td>@student.Gender</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <h3>No record found</h3>
}