@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<div class="text-center">
    <h1 class="text-danger">Error: @Model.ErrorCode</h1>
    <h2 class="text-danger">@Model.ErrorMessage</h2>
</div>