@model StudentViewModel
<form method="post" asp-action="UpdateStudent" asp-controller="OneToOne">
    <div class="mb-3">
        <label asp-for="Id" class="form-label"></label>
        <input class="form-control" asp-for="Id">
        <span class="form-text text-danger" asp-validation-for="Id"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Name" class="form-label"></label>
        <input class="form-control" asp-for="Name">
        <span class="form-text text-danger" asp-validation-for="Name"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Age" class="form-label"></label>
        <input class="form-control" asp-for="Age">
        <span class="form-text text-danger" asp-validation-for="Age"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Gender" class="form-label"></label>
        <input class="form-control" asp-for="Gender">
        <span class="form-text text-danger" asp-validation-for="Gender"></span>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    <div class="form-text text-danger" asp-validation-summary="All"></div>
</form>


