@model UpdateDetailsOneToOneViewModel
<form method="post">
        <input hidden asp-for="StudentExtentionId">
    <div class="mb-3">
        <label asp-for="Email" class="form-label"></label>
        <input class="form-control" asp-for="Email">
        <span class="form-text text-danger" asp-validation-for="Email"></span>
    </div>
    <div class="mb-3">
        <label asp-for="PhoneNumber" class="form-label"></label>
        <input class="form-control" asp-for="PhoneNumber">
        <span class="form-text text-danger" asp-validation-for="PhoneNumber"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Address" class="form-label"></label>
        <input class="form-control" asp-for="Address">
        <span class="form-text text-danger" asp-validation-for="Address"></span>
    </div>
    <button type="submit" asp-action="UpdateDetails" asp-controller="OneToOne" class="btn btn-primary">Submit</button>
    <button type="submit" asp-action="DeleteExtentionRecord" asp-controller="OneToOne" asp-route-id="@Model.StudentExtentionId" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this record?')">Delete</button>
    <div class="form-text text-danger" asp-validation-summary="All"></div>
</form>


